#customers{
    border: 1px solid black;
    table-layout: fixed;
    width: 600px;
    border-collapse: collapse;
}

#customers th, #customers td {
    border: 1px solid black;
    overflow: hidden;
    width: 130px;
}